Source: openstreetmap-cgimap
Section: libs
Priority: optional
Maintainer: Matt Amos <zerebubuth@gmail.com>
Changed-By: mmd <mmd.osm@gmail.com>
Build-Depends: debhelper (>=10), autotools-dev, dh-autoreconf, pkg-config, zlib1g-dev, libxml2-dev, libpqxx-dev, libfcgi-dev, libboost-dev, libboost-regex-dev, libboost-program-options-dev, libfmt-dev, libmemcached-dev, libcrypto++-dev, libargon2-dev, libyajl-dev, postgresql-all, postgresql-common (>= 148~), postgresql-server-dev-all
Homepage: https://github.com/zerebubuth/openstreetmap-cgimap
Standards-Version: 3.9.7

Package: openstreetmap-cgimap
Section: contrib/net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CGImap is a C++ implementation of the OpenStreetMap API
 CGImap is a C++ implementation of some parts of the OpenStreetMap API 0.6
 as an FastCGI process.
